# Python
venv/
.venv/
__pycache__/
*.py[cod]

# Django
db.sqlite3
.env
media/
static/venv/
.env
db.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
*.log

New-Item .gitignore -ItemType File
Add-Content .gitignore "venv/
.env
db.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
*.log"